# DB:
# $ sqlx database setup
DATABASE_URL=postgres://${USER}@localhost/neve

# Local DB (Optional):
# $ pg_ctl initdb
# $ pg_ctl start
# PGDATA=server/db

# TLS:
# $ mkcert -install
# $ mkdir -p .cert
# $ mkcert -cert-file .cert/localhost.pem -key-file .cert/localhost.key.pem localhost 127.0.0.1 ::1
